
.heroContainer{
    //background-color: #D6E6FE;
    height: 737px;
}


.leftSide{
    background-color: #D6E6FE;
    border-bottom-right-radius: 20px
}

.rightSide {
    position: relative;
}


.heroTitle {
    font-family: 'Inter-SemiBold.ttf'
}