

.type__HeadingXL {

    font-family: 'Inter-Regular';
    font-size: 64px;
    line-height: 110%;
    
}

.type__HeadingL {

    font-family: 'Inter-SemiBold';
    font-size: 48px;
    line-height: 110%;
    
}


.type__HeadingM {

    font-family: 'Inter-SemiBold';
    font-size: 24px;
    line-height: 110%;
    
}

.type__Headings {

    font-family: 'Inter-SemiBold';
    font-size: 20px;
    line-height: 110%;
    
}

.type__BodyM {
    font-family: 'Inter-Regular';
    font-size: 16px;
    line-height: 150%;
}

.type__BodyMBold {
    font-family: 'Inter-SemiBold';
    font-size: 16px;
    line-height: 150%;
}

.type__BodyS {
    font-family: 'Inter-Regular';
    font-size: 14px;
    line-height: 150%;
}


