
.personContainer {


    max-height: 533px;
}

img {

    // max-width: 300px;
    // max-height: 300px;
    
}


.wtf {
    width: 564px;
    height: 533px;
    object-fit: contain;
}


.bmiDescription {

    width: 465px;
    height: 308px;
    margin-top: 180px;
}